<h3>Please Update Your Information</h3>
<%= render 'form' %>
<table border="1">
   <tr bgcolor="black">
    <td>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
    </td>
  </tr>
</table>